# Ignore Lab1/connection_graph.csv file
Lab1/connection_graph.csv

# Ignore Python cache folders
__pycache__/

# Ignore .pdf files
*.pdf

# Ignore venv folders and files
*.venv
*venv

# Ignore Lab4/data/t-shirts.csv
Lab4/data/t-shirts.csv

# Ignore html ydata profiling report
Lab4/data/t-shirts_profile_report.html

# Ignore .gz
*.gz

# Ignore .bin
*.bin

# Ignore poetry.lock
poetry.lock

# Ignore .toml file
*.toml

# Ignore Lab5/data
Lab5/data